In [39]:
import pandas as pd
import requests
import time

In [2]:
data = pd.read_excel("Bronchiectasis_Mastersheet_Postcode.xlsx")

In [3]:
data.head()

,UID,Gender,age,PostCode,Dead or Alive,Date of Death,NTM,NTM sp,PSE,Others,...,haemoptysis,Azithromycin,PPI,MRC score,significant comorbidities,Morphological Appearance,DISTRIBUTION OF THE DISEASE ON THE CT SCAN,SEVERITY ON CT SCAN,OTHER FEATURES ON THE SCAN,NOTES
0,#001,M,68,BA15 1NG,A,NaT,N,NONE,N,Y,...,N,N,N,1.0,Y,Not described,"Patchy/multi-lovar (>1 lobe, not all)",Mild,None of above mentioned,NaN
1,#002,M,76,BA3 3TQ,A,NaT,Y,MYCGOR,Y,Y,...,Y,N,Y,4.0,Y,Not described,Not described,Not described,None of above mentioned,NaN
2,#003,M,72,BA11 4BU,A,NaT,N,NaN,Y,Y,...,Y,Y,N,3.0,N,Not described,"Patchy/multi-lovar (>1 lobe, not all)",Mild,None of above mentioned,NaN
3,#004,F,82,BA4 5YG,D,2017-08-20 01:00:00,N,NaN,Y,Y,...,Y,Y,N,5.0,Y,Not described,"Patchy/multi-lovar (>1 lobe, not all)",Severe,None of above mentioned,NaN
4,#005,F,64,BA14 9TE,A,NaT,N,NaN,N,Y,...,Y,Y,N,1.0,N,Not described,Not described,Not described,Tree in bud,NaN

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312 entries, 0 to 311
Data columns (total 24 columns):
UID                                           312 non-null object
Gender                                        312 non-null object
age                                           312 non-null int64
PostCode                                      312 non-null object
Dead or Alive                                 312 non-null object
Date of Death                                 19 non-null datetime64[ns]
NTM                                           239 non-null object
NTM sp                                        236 non-null object
PSE                                           286 non-null object
Others                                        285 non-null object
First org                                     185 non-null object
Sputum purulence                              277 non-null object
Sputum quantity                               273 non-null object
cough                                         277 non-null object
haemoptysis                                   265 non-null object
Azithromycin                                  248 non-null object
PPI                                           248 non-null object
MRC score                                     260 non-null float64
significant comorbidities                     237 non-null object
Morphological Appearance                      220 non-null object
DISTRIBUTION OF THE DISEASE ON THE CT SCAN    222 non-null object
SEVERITY ON CT SCAN                           214 non-null object
OTHER FEATURES ON THE SCAN                    205 non-null object
NOTES                                         2 non-null object
dtypes: datetime64[ns](1), float64(1), int64(1), object(21)
memory usage: 32.9+ KB

In [5]:
data = data[['UID','PostCode','NTM','PSE']]

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312 entries, 0 to 311
Data columns (total 4 columns):
UID         312 non-null object
PostCode    312 non-null object
NTM         239 non-null object
PSE         286 non-null object
dtypes: object(4)
memory usage: 4.9+ KB

In [7]:
data['NTM'].value_counts()

N    196
Y     43
Name: NTM, dtype: int64

In [8]:
data['PSE'].value_counts()

Y    180
N    106
Name: PSE, dtype: int64

In [9]:
ntm_dummies = pd.get_dummies(data['NTM'], prefix="NTM")

In [10]:
pse_dummies = pd.get_dummies(data['PSE'], prefix="PSE")

In [11]:
data.drop(['PSE', 'NTM'], inplace=True, axis=1)

In [12]:
data = pd.concat([data, pse_dummies, ntm_dummies], axis=1)

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312 entries, 0 to 311
Data columns (total 6 columns):
UID         312 non-null object
PostCode    312 non-null object
PSE_N       312 non-null uint8
PSE_Y       312 non-null uint8
NTM_N       312 non-null uint8
NTM_Y       312 non-null uint8
dtypes: object(2), uint8(4)
memory usage: 3.7+ KB

In [40]:
def get_long(postcode):
    try:
        postcode = postcode.replace(" ", "+")
        response = requests.get('https://maps.googleapis.com/maps/api/geocode/json?address={}'.format(postcode))
        resp_json_payload = response.json()
        return resp_json_payload['results'][0]['geometry']['location']['lng']
    except:
        time.sleep(2)
        return get_long(postcode)

In [43]:
def get_lat(postcode):
    try:
        postcode = postcode.replace(" ", "+")
        response = requests.get('https://maps.googleapis.com/maps/api/geocode/json?address={}'.format(postcode))
        resp_json_payload = response.json()
        return resp_json_payload['results'][0]['geometry']['location']['lat']
    except:
        time.sleep(2)
        return get_long(postcode)

In [41]:
data['long'] = data.PostCode.apply(get_long)

In [44]:
data['lat'] = data.PostCode.apply(get_lat)

In [45]:
data

      UID  PostCode  PSE_N  PSE_Y  NTM_N  NTM_Y        lat      long
0    #001  BA15 1NG      1      0      1      0  -2.254453 -2.254453
1    #002   BA3 3TQ      0      1      0      1  51.288376 -2.456001
2    #003  BA11 4BU      0      1      1      0  51.220027 -2.354251
3    #004   BA4 5YG      0      1      1      0  51.193556 -2.553936
4    #005  BA14 9TE      1      0      1      0  -2.229979 -2.229979
5    #006  BA11 2HR      0      1      1      0  51.241612 -2.313030
6    #007  BS31 2AY      0      1      0      1  51.417362 -2.502424
7    #008  SN10 1SL      0      1      1      0  51.324131 -2.084894
8    #009  SN14 7QZ      0      1      1      0  51.493719 -2.218693
9    #010  SN12 6HA      0      1      1      0  -2.140341 -2.140341
10   #011   BA3 3TB      0      1      1      0  51.285727 -2.464263
11   #012   BA3 2QQ      0      1      1      0  51.288219 -2.486185
12   #013  BA14 9EN      0      1      1      0  51.317245 -2.221296
13   #014   BA3 2NT      0      1      0      1  51.278038 -2.495325
14   #015  BS30 5PR      0      1      0      1  -2.431928 -2.431928
15   #016   BA2 7NS      0      1      0      1  -2.322341 -2.322341
16   #017   BA2 4LL      0      1      1      0  51.370636 -2.359578
17   #018   BA2 0DF      0      1      1      0  -2.485502 -2.485502
18   #019   BA1 1XE      0      1      1      0  -2.358830 -2.358830
19   #020   BA2 5AX      0      1      0      1  -2.352590 -2.352590
20   #021  BA11 4AH      1      0      1      0  51.225404 -2.324663
21   #022  BS40 6BT      0      1      0      1  51.296681 -2.626144
22   #023  BA14 6NZ      1      0      1      0  51.341923 -2.208795
23   #024  SN15 2BX      1      0      1      0  51.458206 -2.124264
24   #025  BA14 7AU      0      1      1      0  51.313524 -2.205668
25   #026  BS31 3EL      0      0      1      0  -2.453844 -2.453844
26   #027   BA2 3HY      0      1      1      0  51.378342 -2.379538
27   #028  BS31 2DX      0      1      1      0  51.416003 -2.508995
28   #029   BA3 3EJ      0      1      0      1  51.283319 -2.459364
29   #030  BA11 3HY      0      1      1      0  -2.321642 -2.321642
..    ...       ...    ...    ...    ...    ...        ...       ...
282  #283  BA14 6JP      1      0      1      0  51.344440 -2.151090
283  #284  BA14 0SN      1      0      1      0  51.295377 -2.211567
284  #285   BA3 2QR      1      0      0      0  -2.490679 -2.490679
285  #286   BA2 0QF      1      0      0      0  -2.471636 -2.471636
286  #287   BA2 3AP      1      0      1      0  51.377351 -2.363194
287  #288  BA15 1FL      0      0      0      0  51.347228 -2.249970
288  #289  BS39 7SY      0      1      1      0  51.300206 -2.498662
289  #290  BS15 9SR      0      1      1      0  -2.504114 -2.504114
290  #291  BA11 4NU      1      0      0      0  51.204072 -2.365149
291  #292  BA14 9TA      0      1      0      1  51.322536 -2.233218
292  #293  BA14 7PF      1      0      0      0  51.337294 -2.192194
293  #294  BA11 4RA      0      0      0      0  51.220354 -2.329595
294  #295   BA1 6HJ      0      1      0      1  -2.360523 -2.360523
295  #296  BS20 6BX      1      0      1      0  -2.758098 -2.758098
296  #297  BA11 4NQ      1      0      1      0  51.203157 -2.378697
297  #298  BA15 2BH      0      0      0      0  51.332133 -2.280963
298  #299   BA3 2EF      1      0      1      0  51.289928 -2.481701
299  #300  BA11 2AR      0      1      0      1  -2.307593 -2.307593
300  #301  SN12 7FG      0      1      1      0  51.377036 -2.127491
301  #302   BA1 3JA      0      0      0      0  51.385034 -2.397973
302  #303  BS31 3BZ      1      0      1      0  51.404996 -2.463688
303  #304   BA1 4EQ      1      0      0      0  -2.395793 -2.395793
304  #305   BA3 3AW      0      1      1      0  51.293763 -2.448726
305  #306  BA2 4PS       1      0      1      0  -2.360829 -2.360829
306  #307  BA11 4EG      1      0      1      0  -2.329550 -2.329550
307  #308   BA2 2BD      0      1      1      0  51.368328 -2.367331
308  #309  BS31 3JH      0      1      0      0  -2.453901 -2.453901
309  #310   GL6 9JS      0      1      0      0  51.706587 -2.183381
310  #311   BA2 4RG      1      0      1      0  51.373935 -2.363008
311  #312  BA15 2LX      0      0      0      1  51.345306 -2.288410

[312 rows x 8 columns]

In [46]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312 entries, 0 to 311
Data columns (total 8 columns):
UID         312 non-null object
PostCode    312 non-null object
PSE_N       312 non-null uint8
PSE_Y       312 non-null uint8
NTM_N       312 non-null uint8
NTM_Y       312 non-null uint8
lat         312 non-null float64
long        312 non-null float64
dtypes: float64(2), object(2), uint8(4)
memory usage: 8.6+ KB

In [47]:
data.to_csv("loc_data.csv", index=False)

In [48]:
import gmplot

In [52]:
pyo = data[data['PSE_Y'] == 1]
ntm = data[data['NTM_Y'] == 1]
all_other = data[(data['PSE_Y'] == 0) & (data['NTM_Y'] == 0)]

In [60]:
gmap = gmplot.GoogleMapPlotter(51.3758, -2.3599, 11)
gmap.scatter(all_other['lat'].tolist(), all_other['long'].tolist(), '#3B0B39', size=40, marker=True)
gmap.scatter(pyo['lat'].tolist(), pyo['long'].tolist(), '#32CD32', size=40, marker=False)
gmap.scatter(ntm['lat'].tolist(), ntm['long'].tolist(), '#ff0000', size=40, marker=False)
gmap.draw("all_samples.html")

In [57]:
gmap_hm = gmplot.GoogleMapPlotter(51.3758, -2.3599, 11)
gmap_hm.plot(ntm['lat'].tolist(), ntm['long'].tolist())
gmap_hm.draw("ntm_heatmap.html")